@mixin button {
  @include pitch;
  color: $gray;

  width: 157px;
  height: 35px;
  background-color: #ffffff;
  text-align: center;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  line-height: 130%;
  margin: 0;

  @include miniDesktop {
    width: 126px;
    height: 28px;
    font-size: 12px;
    line-height: 100%;
  }
  @include tablet {
    width: 126px;
    height: 28px;
    font-size: 12px;
    line-height: 100%;
  }
  @include invertTablet {
    width: 118px;
    height: 27px;
    font-size: 11px;
    line-height: 100%;
  }
  @include phone {
    width: 110px;
  }
}
